.nav-active-link{
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    
}

#header{
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: bisque;
}

.nav-link:hover{
    border-radius: 10px;
    border-width: 1px;
    border-color: grey;
    border-style: solid;
}
#logo{
    display: none;

}

@media (min-width: 992px){
    
    #logo{
        display: block;
        margin-left: 180px;
        transition-duration: .4s;
        transition-timing-function: ease-out;
    }
    #logo:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}


